# AI
.opencode/
**/AI.TODO.md
**/AI.DONE.md

# electron
**/dist
**/dist-electron

# Node
**/node_modules/

# Environment
.env
.env.test
.env.local
.env.development
.env.production

# build assets
dist/

# VSCode
.DS_Store